@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=DM+Serif+Display&family=Gideon+Roman&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lexend+Deca&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow: scroll;
}
.navbar {
  width: 100%;
  height: 550px;
  background-color: hsl(256, 26%, 20%);
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  display: none;
  position: absolute;
  top: 0;
}

.logobackground {
  height: 70px;
  background-color: white;
}
.logobackground img {
  margin: 25px 20px;
}
.logobackground .close {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
}
.navbar ul {
  list-style: none;
  text-align: center;
  padding-top: 50px;
}
.navbar ul li {
  margin-bottom: 25px;
  display: block;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700px;
  letter-spacing: 2px;
}
.navbar ul li a:hover {
  border: 2px solid white;
  padding: 10px 70px;
}
.popup {
  display: block;
}
.header {
  height: 70px;
  background-color: white;
}
.header ul {
  display: none;
}

.header img {
  margin: 25px 20px;
}
.header .hamburger {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
}

.imgbackground {
  height: 450px;
  background-image: url(./images/image-intro-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page1 {
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  height: 450px;
  padding-top: 90px;
  background-image: url(./images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 190px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.page1 h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 700px;
  font-size: 35px;
  color: hsl(0, 0%, 98%);
  text-align: center;
}
.page1 p {
  padding: 20px 40px;
  text-align: center;
  line-height: 25px;
  color: hsl(276, 3%, 62%);
  font-weight: 400;
  margin-left: 20px;
}
.page1 button {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
  border: 2px solid hsl(280, 7%, 92%);
  padding: 10px 10px;
  background-color: hsl(256, 26%, 20%);
  color: hsl(276, 3%, 62%);
  text-align: center;
  margin-top: 20px;
}
.page1 button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.page1 .mobile {
  position: absolute;
  right: 0;
  top: 840px;
  width: 120px;
  height: 280px;
}
.page1 .overlap,
.page1 .leftdesktop,
.page1 hr,
.page1 .rightdesktop {
  display: none;
}


.page2 {
  padding: 100px 20px;
  text-align: center;
}
.page2 img {
  margin: 0;
}
.page2 .info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.page2 hr {
  width: 130px;
  background-color: hsl(256, 26%, 20%);
  margin: 0 auto;
}
.page2 h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 700px;
  font-size: 40px;
  color: hsl(256, 26%, 20%);
  text-align: center;
  padding: 25px 0 60px 0;
}
.page2 .secondpart h3 {
  font-weight: 700px;
  font-size: 24px;
  color: hsl(256, 26%, 20%);
  margin-top: 30px;
}
.page2 .secondpart p {
  padding: 20px 22px;
  text-align: center;
  line-height: 25px;
  color: hsl(273, 4%, 51%);
  font-weight: 500;
}
.findmore {
  height: 350px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  margin: 20px 30px;
  text-align: center;
}
.findmore h4 {
  font-size: 40px;
  text-align: center;
  padding: 60px 10px 30px 10px;
}
.findmore button {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900px;
  letter-spacing: 1px;
  border: 2px solid hsl(280, 7%, 92%);
  padding: 10px 15px;
  background-color: hsl(256, 26%, 20%);
  color: hsl(276, 3%, 62%);
}
.logos {
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 120px;
  background-size: contain;
  background-color: hsl(0, 0%, 98%);
}
.logos .images {
  padding: 90px 0 20px 0;
}
.images img {
  margin: 30px 20px 0 0;
}
.images img:hover {
  background-color: black;
}
.directories {
  padding: 30px 0 10px 0;
  text-align: center;
}
.directories p {
  text-transform: uppercase;
  color: hsl(273, 4%, 51%);
  font-weight: 900px;
  font-size: 14px;
  margin-bottom: 30px;
}
.directories ul li  {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 900;
 
}
.directories ul li  a{
  text-decoration: none;
  color: hsl(257, 24%, 29%);
  letter-spacing: 1px;
}
.directories .list {
  margin: 40px 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 630px) {
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px 0 70px;
  }
  .header .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
    display: none;
  }
  .header ul {
    display: flex;
    list-style: none;
  }

  .header ul li {
    margin-right: 10px;
  }
  .header ul li a {
    color: hsl(256, 26%, 20%);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700px;
    letter-spacing: 0;
    cursor: pointer;
  }
  .header ul li a:hover {
    border: 2px solid hsl(256, 26%, 20%);
    padding: 10px 20px;
    background-color: rgb(58, 57, 57);
    color: white;
    cursor: pointer;
  }
  .imgbackground {
    height: 450px;
    background-image: url(./images/image-intro-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
  }
  .page1 .overlap {
    display: block;
    position: absolute;
    top: 200px;
    right: 120px;
    width: 300px;
  }
  .page1 hr {
    display: block;
    width: 130px;
    background-color: hsl(256, 26%, 20%);
    margin: 0;
  }
  .page1 {
    background-image: none;
    color: white;
    margin: 0 auto;
    text-align: left;
    padding-left: 80px;
  }
  .page1 h1 {
    text-align: left;
    margin-top: 30px;
  }
  .page1 p {
    width: 480px;
    padding: 20px 0;
    text-align: left;
    margin-left: 0;
  }
  .page1 button {
    text-align: left;
  }
 
  .page1 .leftdesktop {
    display: block;
    position: absolute;
    left: 0px;
    top: 420px;
    width: 80px;
  }
  .page1 .rightdesktop {
    display: block;
    position: absolute;
    right: 0;
    top: 70px;
    height: 380px;
  }
  .page1 .mobile {
    display: none;
  }
  .page2 {
    padding-left: 80px;
    height: 700px;
  }
  .page2 .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page2 hr {
    width: 130px;
    background-color: hsl(256, 26%, 20%);
    margin: 0;
  }
  .page2 h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 700px;
    font-size: 40px;
    color: hsl(256, 26%, 20%);
    text-align: left;
    padding: 30px 0 40px 0;
  }
  .page2 .secondpart {
    padding: 0;
    text-align: left;
  }
  .page2 .secondpart h3 {
    font-weight: 700px;
    font-size: 24px;
    color: hsl(256, 26%, 20%);
    margin-top: 30px;
    text-align: left;
    padding: 20px 20px;
  }
  .page2 .secondpart p {
    padding: 20px 20px;
    text-align: left;
    line-height: 25px;
    color: hsl(273, 4%, 51%);
    font-weight: 500;
  }
  .page2 img {
    padding-left: 15px;
  }
  .findmore {
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-position: top right;
    background-repeat: no-repeat;
    margin: 20px 80px;
    display: flex;
    text-align: left;
    padding: 0 50px;
    height: 250px;
    align-items: center;
    justify-content: space-between;
  }
  .findmore h4 {
    font-size: 40px;
    text-align: left;
    padding: 0;
    width: 400px;
  }
  .findmore button {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900px;
    letter-spacing: 1px;
    border: 2px solid hsl(280, 7%, 92%);
    padding: 20px 30px;
    background-color: hsl(256, 26%, 20%);
    color: hsl(276, 3%, 62%);
  }
  .findmore button:hover {
    background-color: rgb(252, 252, 252);
    color: black;
    cursor: pointer;
  }
  .logos {
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-size: 700px;
    padding: 80px;
  }
  .logos .images {
    padding: 10px 0 40px 0;
    display: flex;
    justify-content: space-between;
  }
  .directories {
    color: black;
    padding: 30px 0 10px 0;
    text-align: left;
    display: flex;
    gap: 220px;
  }
  .directories ul {
    list-style: none;
  }
}

